 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {

     background-color: #f0efef;
 }

 .toDoContainer {
     width: 22rem;
     border-radius: .5rem;
     padding: 1.5rem;
     margin: 5rem auto;
     background-color: white;
     box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
     text-align: center;

 }

 .toDoContainer h2 {
     margin: 2rem auto;
     color: #1d8fe1;
     font-size: clamp(1.5rem, 4vw, 2rem);
     font-family: Arial, Helvetica, sans-serif;
 }

 .toDoContainer input {
     padding: .4rem 1rem;
     font-size: 1rem;
     border-radius: .5rem;
 }

 .toDoContainer .inputs button {
     padding: .6rem 1.5rem;
     margin-top: 1.25rem;
     margin-bottom: 1.25rem;
     background: #0077cc;
     font-weight: 650;
     color: wheat;
     border-radius: .5rem;
     cursor: pointer;
     border: none;

 }

 .toDoContainer .inputs button:hover {
     transition: 0.3s ease-in;
     opacity: .7;
 }


 .toDoContainer ul li {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: .4rem 1.25rem;
     /*  background-color: #f0eded; */
     background: rgba(0, 0, 0, 0.1);
     margin: 1.5rem 0;
 }

 .toDoContainer ul li span {
     margin-top: .5rem;
 }

 .toDoContainer ul li button {
     cursor: pointer;
     height: 20px;
     margin-top: .5rem;

 }

 .toDoContainer ul li input {
     margin-top: .5rem;

 }

 .done {
     text-decoration: line-through;
     opacity: .6;
 }

 .deltebtn {
     font-size: 1.15rem;
     color: #e74c3c;
     /*  color: #7f8c8d; */

     cursor: pointer;
     margin-top: .2rem;
     padding-top: .2rem;
 }

 .deltebtn:hover {
     transition: 0.3s ease-in;
     opacity: .5;
 }

 .task-tracker-footer-text {
     margin-top: 2.5rem;
     font-family: Arial, Helvetica, sans-serif;


 }